extends layout

block content
  h1 Reversify
  p Reverse any string!
  hr
  h2 Examples:
  ul
    li 
      a(href='/mali') mali
    li
      a(href='/milo') milo
    li
      a(href='/maribel') maribel